@model LaunchStoredProcedure.web.Models.StoredProcedureViewModels.HomeViewModels
@{
    ViewData["Title"] = "Home Page";
}



<form asp-controller="Home" asp-action="CalculStoredProcedure" data-ajax="true" data-ajax-method="POST" data-ajax-begin="onBefore" data-ajax-complete="onCompleteCalc" asp-antiforgery="true">
    <select asp-for="SpName"
            asp-items="@(new SelectList(Model.LstStoredProcedure,"PS_NAME","TITRE"))" id="selectproc">
        <option>Please select one</option>
    </select>
    <div id="content">

    </div>

    <input type="submit" />
    
</form>


<div id="result">

</div>

@if (Model.result != null)
{

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ScriptIndex");}
}